

body {
  background-color: #200b31a1;
}

.blockquote {
  font-family: 'Lobster', cursive;
}

.App {
  text-align: center;
} 



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:  #200b31a1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container {
  margin-top: 5%;
  padding-top: 56px;
}

@media screen and (min-width: 600px) {
  
  .container {
    margin-top: 12%;
    padding-top: 0px;
  }
}

@media screen and (min-width: 960px) {
  
  .container {
    margin-top: 12%;
    padding-top: 0px;
  }
}
